@import url(https://fonts.googleapis.com/css?family=Raleway:500,600&display=swap);

@import url(https://fonts.googleapis.com/css?family=Six+Caps:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Gujarati:500&display=swap);

@import url(https://fonts.googleapis.com/css?family=Mr+De+Haviland:regular&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #535353;
  line-height: 1;
  font-family: "Raleway";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Raleway";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.no-webp body{
  background-image: url(../img/bg.jpg); }

body {
  text-transform: uppercase;
  font-weight: 600;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.loaded body {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 77.5rem;
  margin: 0 auto;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 20px;
  font-size: 2rem;
  background-color: #6f6bc1;
  color: #fffcf9;
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 130%;
  -webkit-transition: background-color 0.5s ease, -webkit-box-shadow 0.5s ease;
  transition: background-color 0.5s ease, -webkit-box-shadow 0.5s ease;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
  transition: background-color 0.5s ease, box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease;
}

.button--fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

h2 {
  font-family: "Six Caps";
  font-weight: 400;
  font-size: 6rem;
  letter-spacing: 0.03em;
  color: #7aa778;
}

h3 {
  font-size: 1.875rem;
}

h5 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.875rem;
}

span {
  color: #6f6bc1;
}

img,
picture {
  border-radius: 3px;
}

pd-bottom-0 {
  padding-bottom: 0;
}

.number__font {
  font-family: "Noto Sans Gujarati";
  font-weight: 500;
  color: #535353;
}

.pd-l-r {
  padding-left: 1rem;
  padding-right: 1rem;
}

.tariff,
.about,
.kind,
.marathon,
.descr {
  opacity: 0;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translate(0px, 40px);
      -ms-transform: translate(0px, 40px);
          transform: translate(0px, 40px);
}

.tariff._watcher-view,
.about._watcher-view,
.kind._watcher-view,
.marathon._watcher-view,
.descr._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer__container {
  padding-top: 2.0625rem;
  padding-bottom: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.125rem;
}

.footer__text {
  display: block;
  text-transform: none;
}

.footer__text:not(:last-child) {
  margin-bottom: 0.75rem;
}

.footer__box__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}

.hero__container {
  position: relative;
  padding-top: 0.25rem;
  padding-bottom: 13.75rem;
}

.hero__foto__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10.625rem;
}

.hero__foto__tablet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__foto__tablet--mb {
  margin-bottom: 5.875rem;
}

.hero__start__text {
  font-size: 1rem;
  line-height: 130%;
}

.hero__start__text span {
  color: #7aa778;
}

.hero__start__number {
  font-size: 1.25rem;
}

.hero__grid--3 {
  -webkit-transform: translateX(35px);
      -ms-transform: translateX(35px);
          transform: translateX(35px);
}

.hero__content {
  position: absolute;
  top: 11%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  opacity: 0;
  text-align: center;
  -webkit-transition: opacity 2s linear;
  transition: opacity 2s linear;
}

.hero__content._watcher-view {
  opacity: 1;
}

.hero__content__decor {
  font-family: "Mr De Haviland";
  text-transform: none;
  font-weight: 400;
  font-size: 2.125rem;
  letter-spacing: 0.05em;
  margin-bottom: -0.9375rem;
  color: #535353;
}

.hero__content__title {
  font-family: "Six Caps";
  font-weight: 400;
  font-size: 13.125rem;
  text-transform: uppercase;
  color: #6f6bc1;
  margin-bottom: 3.125rem;
}

.hero__content__descr {
  font-family: "Raleway";
  font-size: 1.25rem;
  line-height: 130%;
  font-weight: 600;
  color: #535353;
  max-width: 15.4375rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3.125rem;
}

.descr__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 1.25rem;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid #535353;
  padding: 1.875rem 0rem;
}

.descr__content:last-child {
  border-bottom: 1px solid #535353;
}

.marathon {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.marathon__item__number {
  margin-bottom: 0.4375rem;
}

.marathon__item__content {
  padding-top: 1.875rem;
  padding-bottom: 3.125rem;
  border-top: 1px solid #535353;
}

.marathon__item__content h4 {
  margin-bottom: 2.5rem;
}

.marathon__item__content--pd-bottom-0 {
  padding-bottom: 0;
}

.marathon__item--last {
  width: 100%;
}

.marathon__sub__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

.marathon__sub__item {
  padding-left: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  line-height: 115%;
}

.marathon__sub__item::before {
  content: "";
  display: block;
  min-width: 1.25rem;
  max-width: 1.25rem;
  min-height: 1.25rem;
  max-height: 1.25rem;
  background-color: #e59d9c;
}

.marathon__decor {
  font-family: "Mr De Haviland";
  text-transform: none;
  font-weight: 400;
  font-size: 3.375rem;
  letter-spacing: 0.05em;
  -webkit-transform: translateY(-10px) rotate(-9deg);
      -ms-transform: translateY(-10px) rotate(-9deg);
          transform: translateY(-10px) rotate(-9deg);
}

.marathon__foto6 {
  display: block;
  margin-bottom: 3.125rem;
}

.kind__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3.125rem;
}

.kind__box:nth-child(2n) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.kind__box__content {
  max-width: 36.5625rem;
}

.kind__box__title {
  margin-bottom: 0.75rem;
}

.kind__box__title--violet {
  color: #6f6bc1;
}

.kind__box__sub__title {
  font-size: 2.25rem;
  margin-bottom: 1.875rem;
  line-height: 130%;
}

.kind__box__descr {
  font-size: 1rem;
  text-transform: none;
  line-height: 120%;
}

.about__container {
  padding-bottom: 5.5rem;
}

.about__title {
  margin-bottom: 4.375rem;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__item {
  padding-left: 0.9375rem;
  max-width: 16.1875rem;
}

.about__item p {
  display: block;
}

.about__item span {
  color: #7aa778;
  font-size: 1.5rem;
}

.tariff__title {
  line-height: 120%;
}

.tariff__text {
  line-height: 130%;
  font-size: 1.25rem;
}

.tariff__subtitle {
  line-height: 120%;
  margin-bottom: 2.5rem;
}

.tariff__sub__item {
  padding-left: 0rem;
}

.tariff__price {
  font-size: 3rem;
  color: #7aa778;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.tariff__price span {
  color: #7aa778;
  font-size: 4rem;
}

.tariff__box .tariff__button {
  width: 16.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tariff__box {
  padding-left: 1.875rem;
}

@media (min-width: 47.99875em) {
  h2 {
    font-size: 8rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h5 {
    font-size: 1.875rem;
  }

  h4 {
    font-size: 2.25rem;
  }

  .pd-l-r {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 3.125rem;
  }

  .hero__container {
    padding-top: 1.875rem;
    padding-bottom: 9.375rem;
  }

  .hero__start__text {
    font-size: 1.25rem;
  }

  .hero__start__number {
    font-size: 1.5rem;
  }

  .hero__grid--2 {
    -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
            transform: translateY(10px);
  }

  .hero__grid--5 {
    width: 9.1875rem;
    height: 15.375rem;
    margin-bottom: 0.4375rem;
  }

  .hero__grid--6 {
    width: 11.875rem;
    height: 15.375rem;
    -webkit-transform: translateY(-90px);
        -ms-transform: translateY(-90px);
            transform: translateY(-90px);
  }

  .hero__grid--8 {
    width: 10.8125rem;
    height: 6.625rem;
    -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
            transform: translateY(-20px);
  }

  .hero__content {
    top: 25%;
    width: 531px;
  }

  .hero__content__decor {
    font-size: 3.375rem;
  }

  .hero__content__title {
    font-size: 13.75rem;
    margin-bottom: 1.25rem;
  }

  .hero__content__descr {
    font-size: 2.25rem;
    max-width: 25.625rem;
    margin-bottom: 2.375rem;
  }

  .descr__content:nth-child(2n) {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .marathon {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }

  .marathon h2 {
    line-height: 130%;
  }

  .marathon__item__number {
    font-size: 1.5rem;
  }

  .marathon__item__content h4 {
    max-width: 16.6875rem;
  }

  .marathon__sub__item::before {
    min-width: 1.75rem;
    max-width: 1.75rem;
    min-height: 1.75rem;
    max-height: 1.75rem;
  }

  .marathon__sub__item {
    font-size: 1.5rem;
    padding-left: 14.1875rem;
    max-width: 37.25rem;
  }

  .marathon__decor {
    position: absolute;
    -webkit-transform: translate(80px, -80px) rotate(-31deg);
        -ms-transform: translate(80px, -80px) rotate(-31deg);
            transform: translate(80px, -80px) rotate(-31deg);
  }

  .marathon__foto1 {
    width: 43.5625rem;
    height: 68.4375rem;
  }

  .marathon__foto2 {
    width: 22.5rem;
    height: 21.4375rem;
  }

  .marathon__foto5 {
    width: 20.3125rem;
    height: 22.75rem;
  }

  .kind__box {
    gap: 1.875rem;
  }

  .kind__box__title {
    font-size: 6rem;
  }

  .kind__box__descr {
    font-size: 1.125rem;
  }

  .about__container {
    padding-bottom: 6.25rem;
  }

  .about__content {
    padding-right: 3.5rem;
  }

  .about__item {
    padding-left: 0.9375rem;
  }

  .tariff__title,
  .tariff__text {
    text-align: center;
  }

  .tariff__title {
    font-size: 9.625rem;
    letter-spacing: normal;
  }

  .tariff__text {
    font-size: 2rem;
  }

  .tariff__sub__item {
    padding-left: 0rem;
  }

  .tariff__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .tariff__box .tariff__button {
    width: 28.125rem;
  }

  .tariff__box {
    max-width: 34.0625rem;
    padding-left: 5.9375rem;
  }
}

@media (min-width: 550px) {
  .kind__box:nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .kind__box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 600px) {
  .marathon__foto6 {
    width: 33.8125rem;
    height: 42.875rem;
  }

  .about__content {
    padding-right: 1.25rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .about__item {
    max-width: 32.25rem;
  }
}

@media (min-width: 950px) {
  .marathon__foto6 {
    margin-bottom: 0;
  }

  .about__content {
    padding-right: 0rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1.875rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__item {
    padding-left: 0rem;
  }
}

@media (min-width: 1200px) {
  h5 {
    font-size: 2.25rem;
  }

  .footer__container {
    padding-top: 7.5rem;
  }

  .hero__container {
    padding-bottom: 10rem;
  }

  .hero__foto__tablet--mb {
    margin-bottom: 1.6875rem;
  }

  .hero__start__text {
    font-size: 1.5rem;
  }

  .hero__start__text--transform {
    -webkit-transform: translateX(18px);
        -ms-transform: translateX(18px);
            transform: translateX(18px);
  }

  .hero__grid--5 {
    width: 16.6875rem;
    height: 22.9375rem;
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
  }

  .hero__grid--6 {
    width: 15.9375rem;
    height: 20.625rem;
    -webkit-transform: translate(-30px, -35px);
        -ms-transform: translate(-30px, -35px);
            transform: translate(-30px, -35px);
  }

  .hero__grid--8 {
    width: 17.625rem;
    height: 10.8125rem;
  }

  .hero__content {
    top: 20%;
    width: 724px;
  }

  .hero__content__decor {
    font-size: 4.625rem;
  }

  .hero__content__title {
    font-size: 17.5rem;
  }

  .hero__content__descr {
    font-size: 2rem;
    max-width: 37.5rem;
    margin-bottom: 2.875rem;
  }

  .marathon {
    padding-top: 6.875rem;
    padding-bottom: 6.875rem;
  }

  .marathon__item__content--pd-bottom-0 {
    padding-bottom: 0;
  }

  .marathon__sub__list {
    gap: 2.5rem;
  }

  .marathon__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0.625rem;
    margin-top: 3.125rem;
  }

  .marathon__foto1 {
    width: 37.0625rem;
    height: 85.5rem;
  }

  .marathon__foto2 {
    width: 31.5625rem;
    height: 30.0625rem;
  }

  .marathon__foto3 {
    width: 26.1875rem;
    height: 39.25rem;
  }

  .marathon__foto4 {
    width: 26.3125rem;
    height: 39.4375rem;
  }

  .marathon__foto3 {
    width: 26.1875rem;
    height: 39.25rem;
  }

  .marathon__foto5 {
    width: 31.6875rem;
    height: 28.25rem;
  }

  .marathon__foto6 {
    width: 39.5625rem;
    height: 50.3125rem;
  }

  .kind__box {
    gap: 3.125rem;
  }

  .about__container {
    padding-bottom: 6.875rem;
  }

  .about__content {
    gap: 3.125rem;
  }

  .tariff__title {
    font-size: 15.3125rem;
  }

  .tariff__list {
    margin-top: 3.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .tariff__box .tariff__button {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .tariff__box {
    padding-left: 2.1875rem;
  }

  .tariff__box--last {
    width: 100%;
    max-width: 100%;
    padding-left: 6.25rem;
  }

  .tariff__box--last .marathon__sub__list {
    display: block;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }

  .tariff__box--last .marathon__sub__list li {
    margin-bottom: 1.875rem;
    max-width: 28.125rem;
  }
}

@media (min-width: 1300px) {
  .pd-l-r {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

@media (min-width: 1320px) {
  .hero__grid--5 {
    -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
            transform: translateX(20px);
  }

  .hero__grid--6 {
    -webkit-transform: translate(-58px, -35px);
        -ms-transform: translate(-58px, -35px);
            transform: translate(-58px, -35px);
  }
}

@media (min-width: 1380px) {
  .tariff__title {
    font-size: 17.1875rem;
  }

  .tariff__box {
    padding-left: 5.9375rem;
  }
}

@media (min-width: 1440px) {
  .hero__start__text--transform {
    -webkit-transform: translateX(70px);
        -ms-transform: translateX(70px);
            transform: translateX(70px);
  }
}

@media (max-width: 1199px) {
  .hero__grid--3 {
    display: none;
  }

  .marathon__list {
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
  }

  .marathon__container picture,
  .marathon__container img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 599px) {
  .marathon__foto2 {
    margin-bottom: 1.875rem;
  }

  .marathon__foto3 {
    margin-top: 1.875rem;
    margin-bottom: 3.125rem;
  }

  .marathon__foto4 {
    margin-bottom: 1.875rem;
  }

  .marathon__foto3 {
    margin-top: 1.875rem;
    margin-bottom: 3.125rem;
  }

  .marathon__foto5 {
    margin-top: 1.875rem;
    margin-bottom: 3.125rem;
  }
}

@media (max-width: 400px) {
  .tariff__text {
    max-width: 11.8125rem;
  }
}

@media (max-width: 47.99875em) {
  .hero__start,
  .hero__foto__mobile1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .hero__start {
    margin-bottom: 0.5rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .hero__grid--5 {
    -webkit-transform: translateY(120px);
        -ms-transform: translateY(120px);
            transform: translateY(120px);
  }

  .hero__grid--8 {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
  }

  .hero__grid--1,
  .hero__grid--2 {
    display: none;
  }

  .kind__box:nth-child(2n) img {
    display: block;
    margin-left: auto;
  }
}

@media (min-width: 550px) and (max-width: 767px) {
  .kind__box {
    gap: 1.25rem;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #4e4a9b;
    -webkit-box-shadow: #4e4a9b 0px 5px 15px;
            box-shadow: #4e4a9b 0px 5px 15px;
  }
}

.webp body{ background-image: url(../img/bg.webp); }